
src/.idea
src/.vs

src/unity_client/Assets/Plugins/Sirenix
src/unity_client/Assets/StreamingAssets

src/files_server/tools
src/files_server/files

src/server/obj
src/server/bin

src/shared/obj
src/shared/bin


src/static_file_server/obj
src/static_file_server/bin
src/static_file_server/.vs
src/static_file_server/.idea

build

RiderScriptEditorPersistedState.asset
default-2021.dwlt
